.half {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body-cont {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.body-cont1 {
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 40px;
    border: 5px solid white;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
}

.cont1 {
    margin-right: 50px;
    margin-left: 50px;
}

.body-cont h3 {
    font-weight: bolder;
    margin-bottom: 30px;
}

.half h2 {
    border: 5px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: bolder;
}

.body-cont iframe {
    margin-right: 40px;
    width: 900px;
    height: 500px;
}